@{
    ViewData["Title"] = "Self Reflection";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelfReflection</title>
</head>
<body>
</body>
</html>
